opencv-contrib-python
numpy
numba
ultralytics
supervision
pywin32
screeninfo
cuda_python
bettercam
pywin32
screeninfo
asyncio
onnxruntime
onnxruntime-gpu
pyserial
requests
packaging
keyboard
mss
onnx
onnxconverter_common
