cuda_python
bettercam
numpy
numba==0.61.0
numba-cuda==0.3.0
numpy==2.1.1
nvidia-cublas-cu12==12.8.3.14
nvidia-cuda-nvrtc-cu12==12.8.61
nvidia-cuda-runtime-cu12==12.8.57
nvidia-cudnn-cu12==9.7.1.26
nvidia-cufft-cu12==11.3.3.41
nvidia-curand-cu12==10.3.9.55
nvidia-cusolver-cu12==11.7.2.55
nvidia-cusparse-cu12==12.5.7.53
nvidia-nvjitlink-cu12==12.8.61
lazy_loader==0.4
pywin32
screeninfo
asyncio
cupy-cuda12x
onnxconverter-common==1.14.0
opencv-python
opencv-contrib-python
onnx==1.17.0
onnxruntime-gpu==1.20.1
onnxslim==0.1.48
onnxruntime==1.20.1
roboflow
pyserial
pillow==11.1.0
requests
opencv-python
packaging
ultralytics
keyboard
mss
screeninfo
tensorrt==10.8.0.43
tensorrt-cu12_bindings==10.3.0
tensorrt-cu12_libs==10.3.0
tensorrt_cu12==10.8.0.43
torch==2.7.0.dev20250125+cu126
torchaudio==2.6.0.dev20250126+cu126
torchvision==0.22.0.dev20250126+cu126
pycuda
roboflow==1.1.54
obs-cli